*{
    box-sizing: border-box;
}


ul{
    list-style: none;
    /*margin: auto;*/
}

#remove-and-details {
    display: inline;
}

h1{
    font-weight: 900;
    text-decoration: underline;
    text-align: center;
}

.center, h3{
    text-align: center;
}

.bookmark-title {
    font-weight: 800;
}

.description-input{
    color: black;
}

.hidden{
    display: none;
}
#col {
    padding: 10px;
}

.sort-by-dropdown-rating{
    display: inline;
}
.bookmark-basic-controls{
text-align: center;
}

#creating-bookmark-section{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.bookmark-class {
    text-align: center; 
    padding: 0px;
    width: 50%,
}

p.center{
    font-weight: normal;
}

p{
    font-weight: bold;
}