*{
    box-sizing: border-box;
}

body{
background-image:url(https://vignette.wikia.nocookie.net/darktower/images/e/e6/Black_13.png/revision/latest/scale-to-width-down/514?cb=20120217010917);
color:white;
}
ul{
    list-style: none;
    /*margin: auto;*/
}

/* #display-hidden{
    padding: 0px;
    width: 635px;
} */


#remove-and-details {
    display: inline;
}

h1{
    font-weight: 900;
    text-decoration: underline;
    text-align: center;
}

.center, h3{
    text-align: center;
}

.bookmark-title {
    font-weight: 800;
}

.description-input{
    color: black;
}

.hidden{
    display: none;
}


.sort-by-dropdown-rating{
    display: inline;
}
.bookmark-basic-controls{
text-align: center;
}

#creating-bookmark-section{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.bookmark-class {
    text-align: center; 
    padding: 0px;
    width: 50%,
}

p.center{
    font-weight: normal;
}

p{
    font-weight: bold;
}