* {
  box-sizing: border-box;
}

ul.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

#col{
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
#col {
  width: 100%;
}


@media only screen and (min-width: 640px) {

  #col {
    width: 33.333333%;
  };

  .col-full {
    width: 100%;
  }
}
